header{
    width:100%;
    position: sticky;
    top: 0; 
    display: flex;
    justify-content: space-around;
    background-color: #E3E3E3;
    align-items: center;
    position: absolute;
    top: 0;
}

.container{
    width:100%;
    background-color: #E3E3E3;
    display: flex;
    justify-content: flex-end;
}

.hidden{
    display: none;  
    width: 30px;

    img{
        width: 100%;
        height: 100%;
    }
    
    @media (max-width: 650px) {
        display: unset;
        margin-right: 20px;
    }
}

.navLogo{
    margin: 5px 5px 5px 5px ;
    width: 150px;
    height: 50px;
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35vw;

    @media (max-width: 900px) {
        width: 50vw;
    }

    @media (max-width: 650px) {
        display: none;
    }
}

.navItem{
    list-style: none;
}

.navLink{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    transition: color .5s linear;
}

