.footer {
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    .companyLogo{
        box-sizing: border-box;
        display: flex;
        img{
            height: 8vh;
          }
      }
    //   h1{
    //     margin: 10px 0px 0px 0px;
    //     font-size: 2.5rem;
    //     font-family: 'Saira Semi Condensed', sans-serif;
    //   }
      .footerLink a{
        font-size: 1.4rem;
        margin-left: 10px;
        color: #FFFFC2;
        appearance: none;
    }
  }
  
  
  
 
  @media(max-width:378px){
    .footer{
      height: unset;
    }
  }